@import "../config";

html,
body {
    background-color: $color--1;
    color: $color--2;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}
button {
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 0;
    outline: none;
}
a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
h2 {
    text-align: center;
    font-size: 40px;
}
ul, ol {
    list-style-type: none;
}