@import "src/styles/config";

.Navigation__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: $padding--2 $padding--1;
}

.Navigation__nav {
    width: 100%;
}

.Navigation__ol {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li {
        text-align: center;

        a {
            padding: 5px;
            transition: color 0.3s;
        }

        a:hover {
            color: $color--3;
            border-bottom: solid 2px $color--3;
        }
    }

    li:not(:first-child) {
        margin-left: 5px;
    }
}

@media (max-width: $maxWidth--phone) {

    .Navigation__section {
        padding: $padding--2 $padding--2;
    }

    .Navigation__ol {
        justify-content: center;
    }
}