footer(class='Footer__section ContentSection' id='Contacts')
    div(class='Footer__block')
        img(src='/img/telegram-tile.svg' class='Footer__img' title='Telegram' alt='Telegram')
        span @onixen
    a(href='https://github.com/oonixen' target='_blank' class='Footer__block')
        img(src='/img/GitHub-Mark-Light-64px.png' class='Footer__img')
        span Github