header(class="Header__section ContentSection")
    div
        div(class="stars large")
        h1(class='Header__h1') Hey, i'm Nick
        h3 I love to create web apps
        a(href='https://github.com/oonixen' target='_blank')
            img(src='/img/GitHub-Mark-Light-64px.png')