$color--1: #f2f2f4;
$color--2: #1b2448;
$color--3: #a4a7b6;
$color--4: #fff;

$maxWidth--tablet: 1140px;
$maxWidth--phone: 601px;

$padding--small: 20px;
$padding--medium: 40px;
$padding--big: 60px;

$borderRadius--medium: 25px;